<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utils.listeners"></listener>
<listener class-name="utils.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
  
    <classes>
      <class name="tests.LoginPageTest"/>
      <class name="tests.SkipLoginPageTest"/>
      <class name="tests.SignUpPageTest"/>
       <class name="tests.ForgotPasswordPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
